<ion-view view-title="Asistencias">
  <ion-pane>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-background-positive tabs-color-light">
      <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Nueva Asistencia" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
          <ion-content class="padding">
            <h4 class="text-center">Colocar asistencia</h4>
            <ul class="list">

              <li class="item item-toggle" ng-repeat="miembro in asistencia.datos.miembros">
                {{miembro.nombre}}
                <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </li>
            </ul>
          </ion-content>
        </ion-tab>

        <ion-tab title="Editar Asistencia" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <ion-content class="padding">
            <div class="list card">
              <div class="item item-divider">
                <h4 class="text-center">Editar Asistencia</h4>
              </div>
              <div class="item">
                <h4 ng-click="seccion.openDatePicker()">Seleccionar Fecha</h4>
              </div>
            </div>
            <div class="list card" ng-if="seccion.datos.asistencias.length">
              <div class="item" ng-repeat="asistencia in seccion.datos.asistencias">
                <p><b>Nombre:</b>{{asistencia.usuario}} <b>Asistio:</b> {{asistencia.asistio}}</p>
              </div>
            </div>
          </ion-content>
        </ion-tab>
      </ion-tabs>
    </div>
  </ion-pane>
</ion-view>
