<ion-view title="Autor">
    <ion-pane>
        <ion-header-bar class="bar-dark" align-title="center">
            <h1 class="title">Grupos</h1>
        </ion-header-bar>
        <ion-content>
            <a class="button button-block" ui-sref="Login">Login</a>
            <a class="button button-block" ui-sref="inicio">INICIO</a>
            <a class="button button-block" ui-sref="perfil">perfil</a>
            <a class="button button-block" ui-sref="grupos">Grupos</a>
            <a class="button button-block" ui-sref="configuracionC">Config</a>
        </ion-content>
    </ion-pane>
</ion-view>
