<ion-view title="Inicio" class="padding">
    <ion-pane>
        <ion-header-bar class="bar-positive" align-title="center">
            <button class="button icon ion-navicon"></button>
            <h1 class="title">IUTEB Móvil</h1>
        </ion-header-bar>
        <ion-content>
            <div class="main__menu">
                <a class="main__menu__item button button-block icon-right ion-android-person-add" ui-sref="login"><span>Registro</span></a>
                <a class="main__menu__item button-block button icon-right ion-home" ui-sref="inicio"><span>Inicio</span></a>
                <a class="main__menu__item button button-block icon-right ion-person" ui-sref="perfil"> <span>Perfil</span></a>
                <a class="main__menu__item button button-block icon-right ion-person-stalker" ui-sref="grupos"><span>Grupos</span></a>
                <a class="main__menu__item button button-block icon-right ion-gear-a" ui-sref="configuracionC"><span>Configuración</span></a>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
