<ion-view view-title="Inscripcion">

  <ion-pane>
    <ion-nav-bar class="bar-positive" align-title="center">

      <ion-nav-back-button></ion-nav-back-button>

    </ion-nav-bar>

    <div class="tabs-striped tabs-background-positive tabs-color-light">
    
      <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab ng-if="user.tipo == profesor" title="Profesor" icon-on="ion-android-create" icon-off="ion-android-create">
          <ion-content class="padding">
            <h4 class="subtitulo">Añadir Sección</h4>
            <div class="list">
              <div class="item item-input-inset padding">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Código de la Sección">
                </label>
                <button class="button button-small">Añadir</button>
              </div>

            </div>
          </ion-content>
        </ion-tab>

        <ion-tab ng-if="user.tipo == estudiante" title="Estudiante" icon-on="ion-android-add" icon-off="ion-android-add">
          <ion-content class="padding">
            <h4 class="subtitulo">Inscribir Sección</h4>
            <div class="list">
              <div class="item item-input-inset padding">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Código de la Sección">
                </label>
                <button class="button button-small">Inscribir</button>
              </div>
          </ion-content>
        </ion-tab>


      </ion-tabs>
    
    </div>

  </ion-pane>
  
</ion-view>
