<ion-view view-title="Inscripcion">
  <ion-pane>
    <ion-nav-bar class="bar-assertive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-background-assertive tabs-color-light">
      <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
          <ion-content class="padding">

          </ion-content>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <ion-content class="padding">
            <h4>Acerca de nosotros</h4>
            <div class="list card">
              <div class="item">
                <a ui-sref="inicio/asignaturas">Asignaturas</a>
              </div>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <ion-content class="padding">
            <h4>Publicaciones Recientes</h4>
            <div class="list card">
              <div class="item">
                <h2>Hola 3</h2>
              </div>
            </div>
          </ion-content>
        </ion-tab>

      </ion-tabs>
    </div>
  </ion-pane>
</ion-view>
