<ion-view class="padding" title="Publicaciones">
    <ion-pane>
        <ion-header-bar class="bar-positive" align-title="center">
            <button class="button icon ion-navicon"></button>
            <h1 class="title">IUTEB Móvil | Publicaciones</h1>
        </ion-header-bar>
        <ion-content>
            <div class="main__menu">
                <a class="main__menu__item button button-block icon-right ion-android-person-add" ui-sref="ingreso"><span>Registro</span></a>
                <a class="main__menu__item button-block button icon-right ion-home" ui-sref="inicio"><span>Inicio</span></a>
                <a class="main__menu__item button button-block icon-right ion-person" ui-sref="inicio/perfil"> <span>Perfil</span></a>
                <a class="main__menu__item button button-block icon-right ion-gear-a" ui-sref="inicio/configuracion"><span>Configuración</span></a>
                <a class="main__menu__item button button-block icon-right ion-gear-a" ui-sref="inicio/asignaturas/inscripcion"><span>Inscripción</span></a>
                <a class="main__menu__item button button-block icon-right ion-person-stalker" ui-sref="inicio/asignatura"><span>asignaturas</span></a>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
