<ion-view view-title="Seccion">
  <ion-pane>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-background-positive tabs-color-light">
      <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Publicaciones" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
          <ion-content class="padding has-tabs">
            <a ng-if="seccion.datos.tipo == 'Administrador' || seccion.datos.tipo == 'Profesor'" class="button button-block button-outline button-positive icon-right ion-ios-plus-outline"
              ng-click="seccion.crearPublicacion()">
              Nueva Publicacion
            </a>

            <div class="card-list list" ng-repeat="post in seccion.datos.posts">
              <a ng-if="seccion.datos.tipo == 'Administrador' || seccion.datos.tipo == 'Profesor'" ng-click="seccion.editarPublicacion($index)"
                class="item item-avatar item-cabecera">
                <img ng-src="../img/{{post.nombre_archivo}}">
                <h2 class="text-white">{{post.titulo}}</h2>
                <h4 class="text-white">Asignatura: {{seccion.datos.seccion[0].nombre_asig}}</h4>
                <h6 class="text-white">{{post.fecha_publicacion}}</h6>
              </a>

              <a ng-if="seccion.datos.tipo != 'Administrador' && seccion.datos.tipo != 'Profesor'" class="item item-avatar item-cabecera">
                <img ng-src="../img/{{post.nombre_archivo}}">
                <h2 class="text-white">{{post.titulo}}</h2>
                <h4 class="text-white">Asignatura: {{seccion.datos.seccion.nombre_asig}}</h4>
                <h6 class="text-white">{{post.fecha_publicacion}}</h6>
              </a>

              <div class="item item-body">
                <p>
                  {{post.descripcion}}
                </p>
                <p>
                  <a class="subdued">{{post.nombre_archivo}}</a>
                </p>
              </div>
              <a href="#" class="item item-icon-left">
                <i class="icon ion-code-download"></i>
                Descargar
              </a>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Miembros" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <ion-content class="padding has-tabs">
            <h4 class="text-center">Miembros</h4>
            <div class="list card" ng-repeat="miembro in seccion.datos.miembros">
              <a class="item item-avatar" on-swipe-left="seccion.eliminarMiembro()" ui-sref="inicio/seccion/miembro/perfil({id_usuario: miembro.id_usuario})">

                <img ng-src="../img/{{miembro.foto_perfil}}">
                <h2>{{miembro.nombre_completo}}</h2>
                <p>{{miembro.telefono}}</p>
              </a>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Asistencia" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <ion-content class="padding">
            <a ng-if="seccion.datos.tipo == 'Administrador' || seccion.datos.tipo == 'Profesor'" class="button button-block button-outline button-positive icon-right ion-ios-plus-outline"
              ui-sref="inicio/seccion/asistencias({datos: seccion.datos})">
              Gestion de Asistencias
            </a>

            <div class="list card">
              <div class="item item-divider">
                <h4 class="text-center">Asistencias</h4>
              </div>
              <div class="item row">
                <h4 class="col col-40" ng-click="seccion.openDatePicker()">Seleccionar Fecha:</h4>
                <h4 class="col col-30 col-offset-10"> {{seccion.datos.fechaSeleccionada}}</h4>
              </div>
            </div>
            <div class="list card" ng-if="seccion.datos.asistencias.length">
              <div class="item item-divider">
                <div class="row">
                  <b class="col col-50">Nombre:</b>
                  <b class="col col-50">Asistio:</b>
                </div>
              </div>
              <div class="item" ng-repeat="asistencia in seccion.datos.asistencias">
                <div class="row">
                  <span class="col col-50">{{asistencia.usuario}}</span>
                  <span class="col col-50">
                    <span ng-if="asistencia.asistio == 1">Asistente</span>
                    <span ng-if="asistencia.asistio == 0">No asistio</span>
                  </span>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Informacion" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <ion-content class="padding">
            <div class="list card" ng-repeat="s in seccion.datos.seccion">
              <h4 class="item text-center text-white item-cabecera">Informacion Seccion</h4>
              <div class="item">
                <b>Nombre Seccion: </b> {{s.nombre}}
              </div>
              <div class="item">
                <b>Materia:</b> {{s.nombre_asig}}
              </div>
              <div class="item">
                <b>Profesor:</b> {{s.nombre_completo}}
              </div>
              <div class="item">
                <b>Miembros:</b> {{seccion.datos.miembros.length}}
              </div>
            </div>
            <button ng-if="seccion.datos.tipo == 'Administrador' || seccion.datos.tipo == 'Profesor'" ui-sref="inicio/seccion/configuracion"
              class="button button-outline button-block button-positive">CONFIGURACION</button>
          </ion-content>
        </ion-tab>

      </ion-tabs>
    </div>
  </ion-pane>
</ion-view>
