<ion-view view-title="Seccion">
  <ion-pane>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-background-positive tabs-color-light">
      <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Publicaciones" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
          <ion-content class="padding has-tabs">
            <div class="card-list list">
              <a ui-sref="inicio/seccion/publicacion({datos: seccion.datos})" class="item item-icon-right">
                 Gestionar Publicaciones
                <i class="icon ion-ios-plus-outline"></i>
              </a>
            </div>

            <div class="list card">
              <div class="item item-divider">
                <h4 class="text-center">Publicaciones</h4>
              </div>
            </div>
            <div class="list card" ng-repeat="post in seccion.datos.posts">

              <a class="item item-avatar">
                <img ng-src="../img/{{post.nombre_archivo}}">
                <h2>{{post.titulo}}</h2>
                <p>{{post.fecha_publicacion}}</p>
              </a>

              <div class="item item-body">
                <p>
                  {{post.descripcion}}
                </p>
                <p>
                  <a class="subdued">{{post.nombre_archivo}}</a>
                </p>
              </div>
              <a href="#" class="item item-icon-left">
                    <i class="icon ion-code-download"></i>
                    Descargar
                  </a>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Miembros" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <ion-content class="padding has-tabs">
            <h4 class="text-center">Miembros</h4>
            <div class="list card" ng-repeat="miembro in seccion.datos.miembros">
              <a class="item item-avatar">
                <img ng-src="../img/{{miembro.foto_perfil}}">
                <h2>{{miembro.nombre_completo}}</h2>
                <p>{{miembro.telefono}}</p>
              </a>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Asistencia" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <ion-content class="padding">
            <div class="card-list list">
              <a class="item item-icon-right" ui-sref="inicio/seccion/asistencias({datos: seccion.datos})">
                 Gestion de Asistencias
                <i class="icon ion-ios-plus-outline"></i>
              </a>
            </div>

            <div class="list card">
              <div class="item item-divider">
                <h4 class="text-center">Asistencias</h4>
              </div>
              <div class="item row">
                <h4 class="col col-40" ng-click="seccion.openDatePicker()">Seleccionar Fecha:</h4>
                <h4 class="col col-30 col-offset-10"> {{seccion.datos.fechaSeleccionada}}</h4>
              </div>
            </div>
            <div class="list card" ng-if="seccion.datos.asistencias.length">
              <div class="item item-divider">
                <div class="row">
                  <b class="col col-50">Nombre:</b>
                  <b class="col col-50">Asistio:</b>
                </div>
              </div>
              <div class="item" ng-repeat="asistencia in seccion.datos.asistencias">
                <div class="row">
                  <span class="col col-50">{{asistencia.usuario}}</span>
                  <span class="col col-50">{{asistencia.asistio}}</span>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Informacion" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
          <ion-content class="padding">
            <div class="list card" ng-repeat="s in seccion.datos.seccion">
              <h4 class="text-center">Informacion Seccion</h4>
              <div class="item">
                <b>Nombre Seccion: </b> {{s.nombre}}
              </div>
              <div class="item">
                <b>Materia:</b> {{s.nombre_asig}}
              </div>
              <div class="item">
                <b>Profesor:</b> {{s.nombre_completo}}
              </div>
              <div class="item">
                <b>Miembros:</b> {{seccion.datos.miembros.length}}
              </div>
            </div>
          </ion-content>
        </ion-tab>

      </ion-tabs>
    </div>
  </ion-pane>
</ion-view>
