/* Empty. Add your own CSS if you like */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white !important;
}

.fondo-transparente {
  background: transparent !important;
  background-color: transparent !important;
}

.fondo-splash {
  background: url('../img/1.jpg');
}

.item-cabecera.positive {
  background: rgb(27, 74, 154);
}

.item-cabecera.energized {
  background: #d3ac1a;
}

.item-cabecera.royal {
  background: #886aea;
}

.item-cabecera.dark {
  background: #444444;
}

.item-cabecera.assertive {
  background: #ef473a;
}

.item-cabecera.balanced {
  background: #33cd5f;
}

.fondo-app {
  background: url('../img/1.jpg');
  background-size: cover;
}

.item-border {
  border-bottom: 1px solid rgb(20, 143, 180);
}

.button-personalizado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: darkblue;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}

h4.slider-content {
  text-align: center;
  padding: 15px 10px;
  margin: 0;
}

.max-slide {
  min-height: 100vh !important;
}

.innavilitado {
  background: silver;
}

.bold {
  font-weight: bold;
}

.gravatar-bello {
  width: 90%;
  border-radius: 50%;
  border: 2px dashed silver;
  cursor: pointer;
  max-width: 120px;
  margin: auto;
  display: block;
}

.omitir {
  position: absolute;
  z-index: 99999;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  min-height: 50vh;
}

.slider-pager .slider-pager-page {
  color: #000;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.has-header {
  top: 44px !important;
}

.divider {
  padding: 2px;
}

.list.list-inset.formlogin {
  margin-top: 1em;
}

.logo_iuteb {
  width: 45%;
  margin: 1em auto 0 auto;
  margin-top: 1em;
  opacity: .7;
  display: block;
}

.subtitulo {
  font-size: 1.2em;
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.elementos-menu>ion-item {
    border-color: transparent;
    font-size: 18px;
}
