<ion-view view-title="Configuracion">
  <ion-pane>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <div class="tabs-striped tabs-background-positive tabs-color-light">
      <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Config" icon-on="ion-gear-b" icon-off="ion-gear-b">
          <ion-content class="padding">
            <form class="list" ng-submit="config.actualizarConfiguracion(config.config)">
              <div class="item item-divider">
                <h4 class="text-center">Numero De Entradas</h4>
              </div>
              <div class="item range range-positive">
                <i class="icon ion-document-text"></i>
                <input ng-model="config.config.cantPosts" type="range" name="posts" min="1" max="15" ng-value="5">
                <span>{{config.config.cantPosts}}</span>
              </div>
              <!--
                                    <li class="item item-toggle">
                                      HTML5
                                      <label class="toggle toggle-assertive">
                                        <input type="checkbox">
                                        <div class="track">
                                          <div class="handle"></div>
                                        </div>
                                      </label>
                                    </li>
                                  -->
              <input type="submit" class="button button-outline button-block button-positive" value="Guardar Preferencias">
            </form>
          </ion-content>
        </ion-tab>

      </ion-tabs>

    </div>

  </ion-pane>

</ion-view>
