<ion-view view-title="{{login.switch}}">
  <ion-pane ng-switch="login.datos.mostrarForm">
    <ion-content ng-switch-when="1" class="not-top-menu padding">
      <div class="header_membrete">
        <img src="img/logoIuteb.png" class="logo_iuteb">
        <h2 class="subtitulo text-white ">Ingreso de Usuarios</h2>
      </div>
      <form ng-submit="login.ingresar(login.datos.login, ingresar.$valid)" name="ingresar" novalidate class="list" >
        <div class="list list-inset formlogin fondo-transparente">
          <label class="item item-input">
            <input type="text" placeholder="Nombre de Usuario" ng-model="login.datos.login.usuario" name="usuario" required>
          </label>
          <div class="item" ng-messages="ingresar.usuario.$error" style="color:maroon" role="alert" ng-show="ingresar.usuario.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="password" placeholder="Contraseña" ng-model="login.datos.login.contrasena" name="contrasena" required>
          </label>
          <div class="item" ng-messages="ingresar.contrasena.$error" style="color:maroon" role="alert" ng-show="ingresar.contrasena.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <input type="submit" value="Entrar" class="button button-block button-positive"></input>
          <h4 class="text-center padding" ng-if="login.good">{{login.good}}</h4>
          <h4 style="color:red;" class="text-center padding" ng-if="login.validacion">{{login.validacion}}</h4>
        </div>
        <a class="button  button-block button-positive " ng-click="login.cambiar(2)">¿No posees cuenta? ¡.Registrate aquí.!</a>

        <a class="button  button-block button-assertive ">OLVIDE MI CONTRASEÑA!!</a>
      </form>
    </ion-content>
    <ion-content ng-switch-when="2" class="not-top-menu  padding">
      <div class="header_membrete">
        <img src="img/logoIuteb.png" class="logo_iuteb">
        <h2 class="subtitulo text-white">Registra tus datos</h2>
      </div>
      <form ng-submit="login.registrar(login.datos.registro, registro.$valid)" name="registro" novalidate class="list">

        <div class="list list-inset formlogin fondo-transparente">
          <label class="item item-input">
            <input type="text" placeholder="Nombre de Usuario" ng-model="login.datos.registro.usuario" name="nombre" required>
          </label>
          <div class="item" ng-messages="registro.nombre.$error" style="color:maroon" role="alert" ng-show="registro.nombre.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="password" placeholder="Contraseña" ng-model="login.datos.registro.contrasena" name="contrasena" required>
          </label>

          <div class="item" ng-messages="registro.contrasena.$error" style="color:maroon" role="alert" ng-show="registro.contrasena.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="text" placeholder="Nombre Completo" ng-model="login.datos.registro.nombre_completo" name="nombreCompleto" required>
          </label>

          <div class="item" ng-messages="registro.nombreCompleto.$error" style="color:maroon" role="alert" ng-show="registro.nombreCompleto.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="text" placeholder="Cedula" ng-model="login.datos.registro.cedula" name="cedula" required>
          </label>

          <div class="item" ng-messages="registro.cedula.$error" style="color:maroon" role="alert" ng-show="registro.cedula.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="text" placeholder="Correo" ng-model="login.datos.registro.correo" name="correo" required>
          </label>

          <div class="item" ng-messages="registro.correo.$error" style="color:maroon" role="alert" ng-show="registro.correo.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <label class="item item-input">
            <input type="text" placeholder="Telefono" ng-model="login.datos.registro.telefono" name="telefono" required>
          </label>

          <div class="item" ng-messages="registro.telefono.$error" style="color:maroon" role="alert" ng-show="registro.telefono.$error.required">
            <div ng-message="required">Este campo es requerido.</div>
          </div>

          <input type="submit" value="Registrarse" class="button button-block button-positive "></input>
          <a class="button  button-block button-positive " ng-click="login.cambiar(1)">¡.Si ya estas registrado, pulsa aquí.!</a>
        </div>

      </form>
    </ion-content>
  </ion-pane>
</ion-view>
