<ion-view view-title="Asistencias">
  <ion-pane>
    <ion-content class="padding">
      <div class="list card">
        <div class="item item-divider">
          <h4 class="text-center">Colocar o Editar Asistencia</h4>
        </div>
        <div class="item row" ng-click="asistencia.openDatePicker()">
          <h4 class="col col-40">Seleccionar Fecha:</h4>
          <h4 class="col col-30 col-offset-10"> {{asistencia.datos.fechaSeleccionada}}</h4>
        </div>
      </div>
      <form ng-if="asistencia.mostrar" ng-submit="asistencia.setAsistencia()">
        <ul class="list">
          <ion-toggle ng-repeat="miembro in asistencia.datos.miembros" ng-model="miembro.asistio_check" ng-checked="miembro.asistio_check">
            {{miembro.nombre_completo}}
          </ion-toggle>
        </ul>
        <input type="submit" class="button button-{{asistencia.tema}} button-block" value="Guardar">
      </form>
    </ion-content>
  </ion-pane>
</ion-view>
