<ion-view view-title="Información">
  <div class="tabs-striped tabs-background-{{ayuda.tema}} tabs-color-light">
    <ion-tabs class="tabs-icon-top tab-{{ayuda.tema}}">
      <ion-tab title="Ayuda" icon-on="ion-clipboard" icon-off="ion-clipboard">
        <ion-content class="padding">
          <a class="button button-block button-outline button-{{ayuda.tema}} icon-right ion-android-arrow-dropright" target="new" href="{{ayuda.ruta}}/manuales/Manual_Usuario_Completo.pdf">
            MANUAL DE USUARIOS
          </a>
          <ion-slide-box does-continue="true">
            <ion-slide ng-repeat="slide in ayuda.slides" class="fondo-app">
              <h3 style="margin-bottom:0px;" class="text-white" ng-bind="slide.title"></h3>
              <h4 class="slider-content text-white" ng-bind="slide.description"></h4>
            </ion-slide>

          </ion-slide-box>
          <br>
          <div>
            <form style="margin-bottom:0px; padding-bottom:0px;" class="list" ng-submit="ayuda.preferenciasAct(ayuda.color_ui)">
              <label class="item item-input item-select">
                <div class="input-label">
                  Color de Tema
                </div>
                <select ng-model="ayuda.color_ui">
                  <option ng-repeat="color in ayuda.datos.colores" ng-value="color">{{color}}</option>
                </select>
              </label>
              <input type="submit" class="button button-outline button-block button-{{ayuda.tema}}" value="Guardar Preferencias">
            </form>
          </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="Desarrolladores" icon-on="ion-person" icon-off="ion-person">
        <ion-content class="padding">
          <h4 class="subtitulo">Desarrolladores</h4>
          <div class="list card item-border" ng-repeat="d in ayuda.datos.desarrolladores">
            <div class="item item-avatar">
              <img ng-src="img/{{d.imagen}}">
              <h2>{{d.nombre}}</h2>
              <p>{{d.malla}}</p>
              <p>
                <a href="mailto:{{d.correo}}">{{d.correo}}</a>
              </p>
            </div>
          </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="Información de la App" icon-on="ion-gear-b" icon-off="ion-gear-b">
        <ion-content class="padding">
          <div class="list card">
            <h4 class="item text-center text-white item-cabecera {{ayuda.tema}}">Información Aplicación</h4>
            <div class="item">
              <b>Nombre: </b> {{ayuda.datos.app.nombre}}
            </div>
            <div class="item">
              <b>Version:</b> {{ayuda.datos.app.versionApp}}
            </div>
            <div class="item">
<b>Fecha Version:</b> {{ayuda.datos.app.fecha_creaccion}}
            </div>
            <div class="item">
              <b>Descripción:</b>
              <p>{{ayuda.datos.app.descripcion}}</p>
            </div>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </div>
</ion-view>
