<ion-view view-title="Inicio">
  <div class="tabs-striped tabs-background-{{inicio.tema}} tabs-color-light">
    <ion-tabs class="tabs-icon-top tab-{{inicio.tema}}">
      <ion-tab title="Asignaturas" icon-on="ion-clipboard" icon-off="ion-clipboard">
        <ion-content class="padding">
          <div ng-if="inicio.datos.secciones.length == 0">
            <h4>No estas inscrito a ningun seccion</h4>
          </div>

          <h4 class="text-center" ng-if="inicio.datos.secciones.length > 0">Secciones</h4>

          <ion-list show-reorder="false">
            <ion-item class="seccion-item" ui-sref="app.inicio/seccion({id_seccion: seccion.id_seccion})" ng-repeat="seccion in inicio.datos.secciones">
              <p>
                <span class="bold">Nombre: </span> {{seccion.nombre_completo}}
              </p>
              <p>
                <span class="bold">Profesor: </span> {{seccion.nombre_completo}}
              </p>
              <p>
                <span class="bold">Trimestre: </span> {{seccion.trimestre}}
              </p>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="Publicaciones" icon-on="ion-compose" icon-off="ion-compose" ng-if="inicio.datos.posts.length > 0">
        <ion-content class="padding">
          <button class="button button-block button-outline button-{{inicio.tema}}" ng-click="inicio.morePosts()">Refrescar</button>
          <div class="list" ng-if="inicio.datos.posts.length >= 10">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Buscar" ng-model="inicio.$">
              </label>
            </div>
          </div>
          <div class="list card" ng-repeat="post in inicio.datos.posts | filter:inicio.$">

            <a ui-sref="app.inicio/seccion({id_seccion: post.id_seccion})" class="item item-thumbnail-left item-cabecera">
              <img ng-src="img/document.svg">
              <h2>{{post.titulo}}</h2>
              <h4>Asignatura: {{post.nombre_asig}}</h4>
              <h4>Sección: {{post.nombre}}</h4>
              <h6>{{post.fecha_publicacion}}</h6>
            </a>
            <div class="item item-body">
              <span>
                {{post.descripcion}}
              </span>
            </div>
            <div class="divider" ng-if="post.nombre_archivo != NULL">
              <button class="button">
                <i class="icon ion-document"></i>
              </button>
            </div>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </div>
</ion-view>
