<ion-view view-title="Inscripción">
  <ion-content class="padding">
    <div ng-if="inscripcion.datos.objeto.tipo == 'Profesor'">
      <h4 class="subtitulo">Añadir Sección</h4>
      <div class="card-list list">

        <label class="item item-input item-select">
          <div class="input-label">
            Trimestre
          </div>
          <select ng-model="inscripcion.datos.listarAsignaturas.id_trimestre" ng-change="inscripcion.listarAsignaturas(inscripcion.datos.listarAsignaturas)">
            <option ng-repeat="trimestre in inscripcion.datos.trimestres" ng-value="trimestre.id_trimestre">trimestre {{trimestre.id_trimestre}}</option>
          </select>
        </label>
        <label class="item item-input item-select" ng-if="inscripcion.datos.asignaturas">
          <div class="input-label">
            Asignaturas
          </div>
          <select ng-model="inscripcion.datos.crearSeccion.id_asignatura">
            <option ng-repeat="asignatura in inscripcion.datos.asignaturas" ng-value="asignatura.id_asignatura">{{asignatura.nombre_asig}}</option>
          </select>
        </label>
        <form class="input-inset list" ng-if="inscripcion.datos.asignaturas" ng-submit="inscripcion.crearSeccion(inscripcion.datos.crearSeccion)">
          <label class="item item-input">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Nombre" ng-model="inscripcion.datos.crearSeccion.nombre">
          </label>
          <input type="submit" value="Crear" class="button button-block button-{{inscripcion.tema}}">
          <h3 ng-if="inscripcion.codigo" class="text-center" ng-click="inscripcion.copiarSeleccionado(inscripcion.codigo)">Codigo: {{inscripcion.codigo}}</h3>
        </form>
      </div>
    </div>
    <div class="list list-card" ng-if="inscripcion.datos.objeto.tipo == 'Estudiante'">
      <h4 class="subtitulo">Inscribir Sección</h4>
      <div class="list">
        <form ng-submit="inscripcion.inscribirSeccion(inscripcion.datos.inscribirSeccion)" name="inscribir" novalidate class="item item-input-inset padding">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Código de la Sección" ng-model="inscripcion.datos.inscribirSeccion.codigo" required>
          </label>
          <input type="submit" value="Inscribir" class="button button-small button-balanced" ng-disabled="!inscribir.$valid">
        </form>
        <div class="item item-divider" ng-if="inscripcion.m">
          <h4 class="text-center">{{inscripcion.m}}</h4>
        </div>
      </div>
    </div>
    <div ng-if="inscripcion.datos.objeto.tipo == 'Administrador'">
      <div class="list list-card">
        <h4 class="subtitulo">Añadir Sección</h4>
        <div class="card-list list">
          <label class="item item-input item-select">
            <div class="input-label">
              Trimestre
            </div>
            <select ng-model="inscripcion.datos.listarAsignaturas.id_trimestre" ng-change="inscripcion.listarAsignaturas(inscripcion.datos.listarAsignaturas)">
              <option ng-repeat="trimestre in inscripcion.datos.trimestres" ng-value="trimestre.id_trimestre">trimestre {{trimestre.id_trimestre}}</option>
            </select>
          </label>
          <label class="item item-input item-select" ng-if="inscripcion.datos.asignaturas">
            <div class="input-label">
              Asignaturas
            </div>
            <select ng-model="inscripcion.datos.crearSeccion.id_asignatura">
              <option ng-repeat="asignatura in inscripcion.datos.asignaturas" ng-value="asignatura.id_asignatura">{{asignatura.nombre_asig}}</option>
            </select>
          </label>
          <form class="input-inset list" ng-if="inscripcion.datos.asignaturas" ng-submit="inscripcion.crearSeccion()" name="crear"
            novalidate>
            <label class="item item-input">
              <span class="input-label">Nombre</span>
              <input type="text" placeholder="Nombre" ng-model="inscripcion.datos.crearSeccion.nombre" required>
            </label>
            <input type="submit" value="Crear" class="button button-block button-{{inscripcion.tema}}" ng-disabled="!crear.$valid">
            <h3 style="cursor:pointer;" ng-if="inscripcion.codigo" class="text-center" ng-click="inscripcion.copiarSeleccionado(inscripcion.codigo)">Código: {{inscripcion.codigo}}</h3>
          </form>
        </div>
      </div>
      <div class="list list-card">
        <h4 class="subtitulo">Inscribir Sección</h4>
        <div class="list">
          <form ng-submit="inscripcion.inscribirSeccion(inscripcion.datos.inscribirSeccion)" name="inscribir" novalidate class="item item-input-inset padding">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Código de la Sección" ng-model="inscripcion.datos.inscribirSeccion.codigo" required>
            </label>
            <input type="submit" value="Inscribir" class="button button-small button-balanced" ng-disabled="!inscribir.$valid">
          </form>
          <div class="item item-divider" ng-if="inscripcion.m">
            <h4 class="text-center">{{inscripcion.m}}</h4>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  </div>
</ion-view>
