<ion-view view-title="Perfil">
  <ion-content class="padding">
    <div class="list card">
      <h4 class="text-center item-cabecera {{miembro.tema}} item text-white">DATOS</h4>
      <div class="item">
        <b>Nombre: </b> {{miembro.datos.nombre_completo}}
      </div>
      <div class="item">
        <b>Cedula:</b> {{miembro.datos.cedula}}
      </div>
      <div class="item">
        <b>Telefono:</b> {{miembro.datos.telefono}}
      </div>
      <div class="item">
        <b>Correo:</b> {{miembro.datos.correo}}
      </div>
    </div>
  </ion-content>
</ion-view>
