<ion-view view-title="Reporte de asistencias">
  <ion-pane>
    <ion-nav-bar class="bar-{{reportes.tema}}" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
      <form class="input-inset list" ng-submit="reportes.enviarReporte(reportes.datos.reporte)" name="reporte" novalidate>
        <ion-toggle ng-model="reportes.datos.micorreo" ng-checked="true">
          Enviar a tu correo
        </ion-toggle>
        <label class="item item-input" ng-if="reportes.datos.micorreo == false">
          <input type="text" placeholder="Correo:" ng-model="reportes.datos.reporte.correo" name="correo" required>
        </label>
        <div class="item" style="color:maroon" role="alert" ng-show="reporte.correo.$touched && reporte.correo.$invalid">
          <div ng-message="required">Este campo es requerido.</div>
        </div>
        <div class="item row" ng-click="reportes.openDatePicker1()">
          <h4 class="col col-40">Desde:</h4>
          <h4 class="col col-30 col-offset-10"> {{reportes.datos.reporte.desde}}</h4>
        </div>
        <div class="item row" ng-click="reportes.openDatePicker2()">
          <h4 class="col col-40">Hasta:</h4>
          <h4 class="col col-30 col-offset-10"> {{reportes.datos.reporte.hasta}}</h4>
        </div>
        <input type="submit" value="Enviar" class="button button-outline button-block button-{{reportes.tema}}" ng-disabled="!reporte.$valid">
      </form>
    </ion-content>
  </ion-pane>
</ion-view>
