<div class="container ">

  <h2>Listar Secciones.</h2>

  <div class="row col-md-12">
    <div class="col-md-2">
      <select style="padding: 1%; " class="selectpicker btn-primary" ng-model="asistencia.datos.listarAsignaturas.id_trimestre"
        ng-change="asistencia.listarAsignaturas(asistencia.datos.listarAsignaturas)">

        <option selected>trimestres</option>
        <option ng-repeat="trimestre in asistencia.datos.trimestres" ng-value="trimestre.id_trimestre">Trimestre {{trimestre.id_trimestre}} </option>

      </select>
    </div>


    <div class=" col-md-2">

      <select ng-change="asistencia.listarSecciones(asistencia.datos.asignatura_activa)" style="padding: 1%; " ng-if="asistencia.datos.asignaturas.length > 0"
        class="selectpicker btn-primary" ng-model="asistencia.datos.asignatura_activa.id_asignatura">
        <option ng-repeat="asignatura in asistencia.datos.asignaturas " ng-value="asignatura.id_asignatura">
          {{asignatura.nombre_asig}} </option>

      </select>

    </div>
    <div class="col-md-2">


      <select style="padding: 1%; " class="selectpicker btn-primary" ng-if="asistencia.datos.secciones.length > 0" ng-model="asistencia.id_seccion"
        ng-change="asistencia.getMiembros()">

        <option ng-repeat="seccion in asistencia.datos.secciones " ng-value="seccion.id_seccion">
          {{seccion.nombre}}</option>


      </select>





    </div>

    <br>
    <br>
    <br>
    <table class="table table-striped" ng-if="asistencia.datos.miembros.length > 0">
      <br>
      <br>
      <h2 ng-if="asistencia.datos.miembros.length > 0">Listado de asistencias.</h2>

      <thead>
        <tr>
          <th>Nombre</th>
          <th>cedula</th>
          <th ng-if="asistencia.vf">Asistencia</th>
          <th ng-if="asistencia.vf">inasistencia</th>
          <th ng-if="asistencia.vf">estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="miembros in asistencia.datos.miembros ">
          <td>{{miembros.nombre_completo}}
          </td>
          <td>{{miembros.cedula}}
          </td>
          <td ng-if="asistencia.vf">
            <button class="btn btn-success" ng-click="miembros.asistio=1">Asistente</button>
          </td>
          <td ng-if="asistencia.vf">
            <button class="btn btn-warning" ng-click="miembros.asistio=0">Inasistente</button>
          </td>
          <td ng-if="miembros.asistio == 1 && asistencia.vf">
            Asistente
          </td>

          <td ng-if="miembros.asistio == 0 && asistencia.vf">
            Inasistente
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row col-md-12" ng-if="asistencia.datos.miembros.length > 0">
      <div>
        <h4>Obtener asistencias</h4>
        <input type="date" class="col-md-2" ng-model="asistencia.fecha">
        <br>
        <br>
        <button class="btn btn-primary" ng-click="asistencia.getAsistencias()">Obtener
        </button>
      </div>

      <div ng-if="asistencia.vf">
        <input type="date" class="col-md-2" ng-model="asistencia.fechaSeleccionada">
        <br>
        <br>
        <button class="btn btn-primary" ng-click="asistencia.setAsistencia()">Colocar Asistencias</button>
      </div>
    </div>


  </div>
  <br>
  <br>

  <div class="row col-12" ng-if="asistencia.datos.miembros.length > 0">

    <h2>Generar reporte en PDF.</h2>

    <h3>Elija un rango de fechas.</h3>

    <form ng-submit="asistencia.crearReporte(asistencia.datos.reporteInfo)">

      <input type="date" ng-model="asistencia.datos.desde" name="date1" class="col-md-2">

      <input type="date" ng-model="asistencia.datos.hasta" name="date2" class="col-md-2">

      <input type="email" ng-if="asistencia.datos.mostrar_btn==true" ng-model="asistencia.datos.reporteInfo.app" type="text" placeholder="ingrese Correo">
      <button class="btn btn-primary" type="submit">Crear reporte</button>
    </form>
  </div>
  <table class="table table-striped" ng-if="asistencia.datos.reportes.length > 0">
    <br>
    <br>
    <h2>Listado de Reportes.</h2>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Reporte</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reporte in asistencia.datos.reportes ">
        <td>{{reporte.nombre_completo}}
        </td>
        <td>{{reporte.nombre_reporte}}
        </td>
        <td>
          <a href="http://localhost:3454/outputPDF/{{reporte.nombre_reporte}}" target="new">ver</a>
          <a ng-click="asistencia.eliminarReporte($index)" target="new">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
