<div class="container">


  <div class="row ">

    <div class=" col-6">
      <h2>Agregar Profesor</h2>
      <div class="form-group ">



        <form style="width:20%" class=" center-block" ng-submit="profesores.crearProfesor(profesores.datos.registroProfesor) ">
          <div class="form-group col-6 ">
            <input class="form-control col-md-2 " type="text " placeholder="Usuario " ng-model="profesores.datos.registroProfesor.usuario ">
            <input class="form-control " type="text " placeholder="nombre completo " ng-model="profesores.datos.registroProfesor.nombre_completo ">
            <input class="form-control " type="text " placeholder="cedula " ng-model="profesores.datos.registroProfesor.cedula ">
            <input class="form-control " type="number " placeholder="telefono " ng-model="profesores.datos.registroProfesor.telefono ">
            <input class="form-control " type="text " placeholder="contraseña " ng-model="profesores.datos.registroProfesor.contrasena ">
            <input class="form-control " type="text " placeholder="correo " ng-model="profesores.datos.registroProfesor.correo ">
            <input class="form-control " type="text " placeholder="gravatar " ng-model="profesores.datos.registroProfesor.gravatar ">

            <button type="submit " style="width:100%; " class=" btn btn-success center-block ">crear

            </button>

          </div>
        </form>
      </div>
    </div>

    <div class="col-6" ng-if="profesores.datos.profesores.length > 0">

      <h2>Listado De Profesores</h2>
      <p>Desde aqui puedes modificar informacion sobre los profesores</p>
      <table class="col-8 table table-striped ">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Telefono</th>
            <th>contraseña</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in profesores.datos.profesores ">
            <td>{{p.nombre_completo}}</td>
            <td>{{p.cedula}}</td>
            <td>{{p.telefono}}</td>
            <td>{{p.contrasena}}</td>
            <td>
              <button class="btn btn-primary " ng-click="profesores.modificarUsuario($index) ">Modificar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>




</div>

<div class="container col-6 " ng-if="profesores.actUsuario ">
  <form class="center-block " ng-submit="profesores.actualizarUsuario(profesores.datos.modificarUsuario) ">
    <input type="text " ng-model="profesores.datos.modificarUsuario.nombre_completo ">
    <input type="text " ng-model="profesores.datos.modificarUsuario.cedula ">
    <input type="text " ng-model="profesores.datos.modificarUsuario.telefono ">
    <input type="text " ng-model="profesores.datos.modificarUsuario.contrasena ">
    <button type="submit " class="btn btn-success ">modificar</button>
  </form>
</div>
