<div class="container">



  <h2>Agregar Profesor</h2>
  <div class="form-group col-2">



    <form class="col-4" ng-submit="profesores.crearProfesor(profesores.datos.registroProfesor)">

      <input type="text" placeholder="Usuario" ng-model="profesores.datos.registroProfesor.usuario">
      <input type="text" placeholder="nombre completo" ng-model="profesores.datos.registroProfesor.nombre_completo">
      <input type="text" placeholder="cedula" ng-model="profesores.datos.registroProfesor.cedula">
      <input type="number" placeholder="telefono" ng-model="profesores.datos.registroProfesor.telefono">
      <input type="text" placeholder="contraseña" ng-model="profesores.datos.registroProfesor.contrasena">
      <input type="text" placeholder="correo" ng-model="profesores.datos.registroProfesor.correo">

      <button type="submit" class="btn btn-primary">crear

      </button>

    </form>

  </div>



  <h2>Listado De Profesores</h2>
  <p>Desde aqui puedes modificar informacion sobre los profesores</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in profesores.datos.profesores">
        <td>{{p.nombre_completo}}</td>
        <td>{{p.cedula}}</td>
        <td>{{p.telefono}}</td>
        <td>{{p.correo}}</td>
        <td>
          <button class="btn btn-primary" ng-click="profesores.modificarUsuario($index)">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container col-6 " ng-if="profesores.actUsuario">
  <form class="center-block" ng-submit="profesores.actualizarUsuario(profesores.datos.modificarUsuario)">
    <input type="text" ng-model="profesores.datos.modificarUsuario.nombre_completo">
    <input type="text" ng-model="profesores.datos.modificarUsuario.cedula">
    <input type="text" ng-model="profesores.datos.modificarUsuario.telefono">
    <input type="text" ng-model="profesores.datos.modificarUsuario.contrasena">
    <button type="submit" class="btn btn-success">modificar</button>
  </form>
</div>
