/* Empty. Add your own CSS if you like */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.button-personalizado {
  display: flex;
  background: darkblue;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}


/* .main__form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: .5em;
}
.main__form__item{
    display: block;
    font-size: 1.3em;
    width: 100%;
    margin: 0 auto;
    padding: 3px 5px;
}

.main__menu{
    display: flex;
    flex-direction: column;
    letter-spacing: 5px;
}
.main__menu__item{
    background: rgb(51, 121, 224);
    color: white;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 3;
    
}
.main__menu__item:hover{
    background: rgb(110, 151, 210);
    font-size: 1.2em;
    color: white;
    
} */

.tabs-striped .overflow-scroll>.scroll {
  margin-top: 7em;
}

.list.list-inset.formlogin {
  margin-top: 1em;
}

.header_membrete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo_iuteb{
    width: 45%;
    margin-top: 4em;
    opacity: .7;
}

.subtitulo{
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: .6;
    text-align: center;
}
